.github-corner svg {
    z-index: 1000;
}

.wrapper-responsive {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100%, auto);
}

@media only screen and (min-width: 600px) {
  .wrapper-responsive {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
  .wrapper-responsive {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wrapper-1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100%, auto);
}

.card {
  background: #fff;
  color: rgb(0, 59, 92);
  border-radius: 2px;
  display: inline-block;
  height: 80vh;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  font-family: monospace;
}

.visible {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sticky-header {
  padding: 10px;
  width: 100%;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 99;
  text-align: center;
  color: rgb(0, 59, 92);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: monospace;
}